body{
background-size: cover;
background-repeat: no-repeat;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7W9Q0r5IU7yNBRgQOu2PB5fgqElMtvSh2Qg&s");
background-size: 1550px 780px;
background-position: center;



}


.one{

width: 430PX;
height: 200PX;
display: block;
text-align: center;
border-radius: 10PX;
padding: 30PX;
margin-top: 250px;
margin-bottom: 250px;
margin-left: 550px;

}
.img{
    position: relative;
    bottom:120px;
    right: 100px;
    border-radius: 10px;

}
.two{
    position: relative;
    bottom: 450px;
    right: 25px;
    
    color: white;

}
#btn{
    background-color: #111;
    border: solid #0ff 2px;
    color: #0ff;
    font-size: 20px;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 15px rgba(0,255,255,0.3),
    inset 0 -4 0 #0ff;
    transition: all 0.2s ease;
    position: relative;
}
#btn:hover{
    box-shadow: 
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 30px #0ff,
    0 0 40px #0ff,
    inset 0 -6 0 #0ff;
    transform: translate(-2px);
}
#btn:active{
    transform: translate(4px);
    box-shadow:  0 0 4px #0ff,
    0 0 8px #0ff,
    inset 0 2px 5px rgba(0,255,255,0.4)
}
#inputBox{
    background-color: #111;
    border: solid #0ff 2px;
    color: #0ff;
    font-size: 20px;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 15px rgba(0,255,255,0.3),
    inset 0 -4 0 #0ff;
    transition: all 0.2s ease;
    position: relative;
}
#inputBox:hover{
    transform: translate(4px);
    box-shadow:  0 0 4px #0ff,
    0 0 8px #0ff,
    inset 0 2px 5px rgba(0,255,255,0.4)
}
#inputBox{
    transform: translate(4px);
    box-shadow:  0 0 4px #0ff,
    0 0 8px #0ff,
    inset 0 2px 5px rgba(0,255,255,0.4) 
}